page-seekjobmes {
    #body{
        background-color: #f2f2f2;
    }
    .list-ios .item-block .item-inner{
        border: none;
    }
    #money{
        color: red;
        font-size:20px;
    }
    .iconfont{
        color:#0f72c4;
    }
    .title{
       color:  #1990ef;
       margin-top:5px;
    }
}
