page-seekjobmes {
    #body{
        background-color: #f2f2f2;
    }
    .list-ios .item-block .item-inner{
        border: none;
    }
    #money{
        color: red;
        font-size:20px;
    }
    .iconfont{
        color:#0f72c4;
    }
    .title{
       color:  #1990ef;
       margin-top:5px;
    }
    #bottom{ 
        background-color:gainsboro;
        height:53px;
        width: 100%;
        position: fixed;
        bottom: 0;
    }
    #bottom button{
        width: 60%;
        margin-left:10%;
    }
    .star1{
        color: #1990ef;
        font-size: 3em;
        margin-left:8%;
        margin-top:1.5%;
        position: fixed;
    }
    .star2{
        color: black;
        font-size: 3em;
        margin-left:8%;
        margin-top:1.5%;
        position: fixed;
    }
}
