page-seekmessage {
    #body{
        background-color: #f2f2f2;
    }
    .item-ios ion-avatar ion-img, .item-ios ion-avatar img {
        border-radius: 50%;
        overflow: hidden;
        width: 60px;
        height: 60px;
    }
}
