
<ion-header>
  <ion-navbar color="primary">
    <ion-title text-center>首页</ion-title>
  </ion-navbar>
</ion-header>


<ion-content id="body">
  <!-- 搜索框 -->
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>

  <!-- <div padding>
      <ion-segment [(ngModel)]="row1">
          <ion-segment-button style="height:110px" *ngFor="let item of class" value="{{item.val}}">
            <img src="{{item.img}}"><p>{{item.name}}</p>
          </ion-segment-button>
      </ion-segment>
      <ion-segment [(ngModel)]="row2">
          <ion-segment-button style="height:110px;width:25%" *ngFor="let item of class0" value="{{item.val}}">
            <img src="{{item.img}}"><p>{{item.name}}</p>
          </ion-segment-button>
      </ion-segment>
  </div>
    
    <div [ngSwitch]="row1">
      <ion-list *ngSwitchCase="'class1'">
          <ion-list-header>礼仪模特</ion-list-header>       
          <ion-item *ngFor="let item of class1">
              <ion-avatar item-start>
                <img src="{{item.img}}">
              </ion-avatar>
              <h2>{{item.name}}</h2>
              <h3>{{item.schooling}} {{item.age}}</h3>
              <p>{{item.mes}}</p>
          </ion-item>
      </ion-list>
    
      <ion-list *ngSwitchCase="'class2'">
          <ion-list-header>老师家教</ion-list-header>       
          <ion-item *ngFor="let item of class2">
              <ion-avatar item-start>
                <img src="{{item.img}}">
              </ion-avatar>
              <h2>{{item.name}}</h2>
              <h3>{{item.schooling}} {{item.age}}</h3>
              <p>{{item.mes}}</p>
          </ion-item>
      </ion-list>

      <ion-list *ngSwitchCase="'class3'">
          <ion-list-header>话务客服</ion-list-header>       
          <ion-item *ngFor="let item of class3">
              <ion-avatar item-start>
                <img src="{{item.img}}">
              </ion-avatar>
              <h2>{{item.name}}</h2>
              <h3>{{item.schooling}} {{item.age}}</h3>
              <p>{{item.mes}}</p>
          </ion-item>
      </ion-list>
      <ion-list *ngSwitchCase="'class4'">
          <ion-list-header>传单派发</ion-list-header>       
          <ion-item *ngFor="let item of class4">
              <ion-avatar item-start>
                <img src="{{item.img}}">
              </ion-avatar>
              <h2>{{item.name}}</h2>
              <h3>{{item.schooling}} {{item.age}}</h3>
              <p>{{item.mes}}</p>
          </ion-item>
      </ion-list>
      <ion-list *ngSwitchCase="'class5'">
          <ion-list-header>审核录入</ion-list-header>       
          <ion-item *ngFor="let item of class5">
              <ion-avatar item-start>
                <img src="{{item.img}}">
              </ion-avatar>
              <h2>{{item.name}}</h2>
              <h3>{{item.schooling}} {{item.age}}</h3>
              <p>{{item.mes}}</p>
          </ion-item>
      </ion-list>
    
      <ion-list *ngSwitchCase="'class6'">
          <ion-list-header>服务员</ion-list-header>       
          <ion-item *ngFor="let item of class6">
              <ion-avatar item-start>
                <img src="{{item.img}}">
              </ion-avatar>
              <h2>{{item.name}}</h2>
              <h3>{{item.schooling}} {{item.age}}</h3>
              <p>{{item.mes}}</p>
          </ion-item>
      </ion-list>

      <ion-list *ngSwitchCase="'class7'">
          <ion-list-header>问卷调查</ion-list-header>       
          <ion-item *ngFor="let item of class7">
              <ion-avatar item-start>
                <img src="{{item.img}}">
              </ion-avatar>
              <h2>{{item.name}}</h2>
              <h3>{{item.schooling}} {{item.age}}</h3>
              <p>{{item.mes}}</p>
          </ion-item>
      </ion-list>

      <ion-list *ngSwitchCase="'class8'">
          <ion-list-header>计算机</ion-list-header>       
          <ion-item *ngFor="let item of class8">
              <ion-avatar item-start>
                <img src="{{item.img}}">
              </ion-avatar>
              <h2>{{item.name}}</h2>
              <h3>{{item.schooling}} {{item.age}}</h3>
              <p>{{item.mes}}</p>
          </ion-item>
      </ion-list>
    </div>
    <div [ngSwitch]="row2">
        <ion-list *ngSwitchCase="'class5'">
            <ion-list-header>审核录入</ion-list-header>       
            <ion-item *ngFor="let item of class5">
                <ion-avatar item-start>
                  <img src="{{item.img}}">
                </ion-avatar>
                <h2>{{item.name}}</h2>
                <h3>{{item.schooling}} {{item.age}}</h3>
                <p>{{item.mes}}</p>
            </ion-item>
        </ion-list>
      
        <ion-list *ngSwitchCase="'class6'">
            <ion-list-header>服务员</ion-list-header>       
            <ion-item *ngFor="let item of class6">
                <ion-avatar item-start>
                  <img src="{{item.img}}">
                </ion-avatar>
                <h2>{{item.name}}</h2>
                <h3>{{item.schooling}} {{item.age}}</h3>
                <p>{{item.mes}}</p>
            </ion-item>
        </ion-list>
  
        <ion-list *ngSwitchCase="'class7'">
            <ion-list-header>问卷调查</ion-list-header>       
            <ion-item *ngFor="let item of class7">
                <ion-avatar item-start>
                  <img src="{{item.img}}">
                </ion-avatar>
                <h2>{{item.name}}</h2>
                <h3>{{item.schooling}} {{item.age}}</h3>
                <p>{{item.mes}}</p>
            </ion-item>
        </ion-list>

        <ion-list *ngSwitchCase="'class8'">
            <ion-list-header>计算机</ion-list-header>       
            <ion-item *ngFor="let item of class8">
                <ion-avatar item-start>
                  <img src="{{item.img}}">
                </ion-avatar>
                <h2>{{item.name}}</h2>
                <h3>{{item.schooling}} {{item.age}}</h3>
                <p>{{item.mes}}</p>
            </ion-item>
        </ion-list>
      </div>
     -->

  <div>
    <ion-grid id="grid" >
      <ion-row>
        <ion-col class="col" col-3 *ngFor="let item of class" (click)="more(item)">
          <img src="{{item.img}}">{{item.name}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  

  <ion-list>
      <ion-list-header>
        礼仪模特
      </ion-list-header>  
      <ion-item *ngFor="let item of class1">
        <ion-avatar item-start>
          <img src="{{item.img}}">
        </ion-avatar>
        <h2>{{item.name}}</h2>
        <h3>{{item.schooling}} {{item.age}}</h3>
        <p>{{item.mes}}</p>
      </ion-item>
      <ion-list-header>
          老师家教
        </ion-list-header>  
        <ion-item *ngFor="let item of class2">
          <ion-avatar item-start>
            <img src="{{item.img}}">
          </ion-avatar>
          <h2>{{item.name}}</h2>
          <h3>{{item.schooling}} {{item.age}}</h3>
          <p>{{item.mes}}</p>
        </ion-item>
  </ion-list>

  <!-- 上拉加载 -->
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
