
<ion-header>
  <ion-navbar color="primary">
    <ion-title text-center>首页</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content id="body">
    <!-- 轮播图 -->
  <ion-slides id="slides" pager="true" loop  autoplay="1500">
    <ion-slide class="slide" >
      <img src="assets/imgs/slide1.png">
    </ion-slide>      
    <ion-slide class="slide">
      <img src="assets/imgs/slide2.png">
    </ion-slide> 
    <ion-slide class="slide">
      <img src="assets/imgs/slide3.png">
    </ion-slide>    
  </ion-slides>
  <!-- 分类 -->
  <div id="class">
      <ion-grid>
          <ion-row>
              <ion-segment [(ngModel)]="row1">
                  <ion-segment-button style="height:110px" *ngFor="let item of class" value="{{item.val}}">
                    <img src="{{item.img}}"><p>{{item.name}}</p>
                  </ion-segment-button>
              </ion-segment>
          </ion-row>
          <ion-row> 
              <ion-segment [(ngModel)]="row1">
                  <ion-segment-button style="height:110px;width:25%" *ngFor="let item of class0" value="{{item.val}}">
                    <img src="{{item.img}}"><p>{{item.name}}</p>
                  </ion-segment-button>
              </ion-segment>
          </ion-row>
       </ion-grid>
  </div>
    
    <div [ngSwitch]="row1">
      <ion-list *ngSwitchCase="'class1'">
          <ion-list-header>{{items[0]}}</ion-list-header>       
          <ion-item *ngFor="let item of class1" class="spe" (click)="seeker(item)">
              <ion-item>
                <ion-avatar item-start>
                  <img src="{{item.img}}">
                </ion-avatar>
                <h2>{{item.name}}</h2>
                <h3><i class="iconfont">&#xe624;</i>{{item.schooling}} 
                  <i class="iconfont">&#xe522;</i>{{item.age}}
                  <i class="iconfont">&#xe62b;</i>{{item.sex}}
                </h3>
                <p>{{item.mes}}</p>
              </ion-item>
              <ion-item>
                  <p><i style="font-style:normal">期望薪资:</i><i id="money">3000-5000</i></p>
                  <p><i style="font-style:normal">期望职位:</i><i id="position">助理</i></p>
              </ion-item>
          </ion-item>
      </ion-list>
    
      <ion-list *ngSwitchCase="'class2'">
          <ion-list-header>{{items[1]}}</ion-list-header>       
          <ion-item *ngFor="let item of class2" class="spe" (click)="seeker(item)">
              <ion-item>
                  <ion-avatar item-start>
                    <img src="{{item.img}}">
                  </ion-avatar>
                  <h2>{{item.name}}</h2>
                  <h3><i class="iconfont">&#xe624;</i>{{item.schooling}} 
                    <i class="iconfont">&#xe522;</i>{{item.age}}
                    <i class="iconfont">&#xe62b;</i>{{item.sex}}
                  </h3>
                  <p>{{item.mes}}</p>
                </ion-item>
                <ion-item>
                    <p><i style="font-style:normal">期望薪资:</i><i id="money">3000-5000</i></p>
                    <p><i style="font-style:normal">期望职位:</i><i id="position">助理</i></p>
                </ion-item>
          </ion-item>
      </ion-list>

      <ion-list *ngSwitchCase="'class3'">
          <ion-list-header>{{items[2]}}</ion-list-header>       
          <ion-item *ngFor="let item of class3" class="spe" (click)="seeker(item)">
              <ion-item>
                  <ion-avatar item-start>
                    <img src="{{item.img}}">
                  </ion-avatar>
                  <h2>{{item.name}}</h2>
                  <h3><i class="iconfont">&#xe624;</i>{{item.schooling}} 
                    <i class="iconfont">&#xe522;</i>{{item.age}}
                    <i class="iconfont">&#xe62b;</i>{{item.sex}}
                  </h3>
                  <p>{{item.mes}}</p>
                </ion-item>
                <ion-item>
                    <p><i style="font-style:normal">期望薪资:</i><i id="money">3000-5000</i></p>
                    <p><i style="font-style:normal">期望职位:</i><i id="position">助理</i></p>
                </ion-item>
          </ion-item>
      </ion-list>
      <ion-list *ngSwitchCase="'class4'">
          <ion-list-header>{{items[3]}}</ion-list-header>       
          <ion-item *ngFor="let item of class4" class="spe" (click)="seeker(item)">
              <ion-item>
                  <ion-avatar item-start>
                    <img src="{{item.img}}">
                  </ion-avatar>
                  <h2>{{item.name}}</h2>
                  <h3><i class="iconfont">&#xe624;</i>{{item.schooling}} 
                    <i class="iconfont">&#xe522;</i>{{item.age}}
                    <i class="iconfont">&#xe62b;</i>{{item.sex}}
                  </h3>
                  <p>{{item.mes}}</p>
                </ion-item>
                <ion-item>
                    <p><i style="font-style:normal">期望薪资:</i><i id="money">3000-5000</i></p>
                    <p><i style="font-style:normal">期望职位:</i><i id="position">助理</i></p>
                </ion-item>
          </ion-item>
      </ion-list>
      <ion-list *ngSwitchCase="'class5'">
          <ion-list-header>{{items[4]}}</ion-list-header>       
          <ion-item *ngFor="let item of class5" class="spe" (click)="seeker(item)">
              <ion-item>
                  <ion-avatar item-start>
                    <img src="{{item.img}}">
                  </ion-avatar>
                  <h2>{{item.name}}</h2>
                  <h3><i class="iconfont">&#xe624;</i>{{item.schooling}} 
                    <i class="iconfont">&#xe522;</i>{{item.age}}
                    <i class="iconfont">&#xe62b;</i>{{item.sex}}
                  </h3>
                  <p>{{item.mes}}</p>
                </ion-item>
                <ion-item>
                    <p><i style="font-style:normal">期望薪资:</i><i id="money">3000-5000</i></p>
                    <p><i style="font-style:normal">期望职位:</i><i id="position">助理</i></p>
                </ion-item>
          </ion-item>
      </ion-list>
    
      <ion-list *ngSwitchCase="'class6'">
          <ion-list-header>{{items[5]}}</ion-list-header>       
          <ion-item *ngFor="let item of class6" class="spe" (click)="seeker(item)">
              <ion-item>
                  <ion-avatar item-start>
                    <img src="{{item.img}}">
                  </ion-avatar>
                  <h2>{{item.name}}</h2>
                  <h3><i class="iconfont">&#xe624;</i>{{item.schooling}} 
                    <i class="iconfont">&#xe522;</i>{{item.age}}
                    <i class="iconfont">&#xe62b;</i>{{item.sex}}
                  </h3>
                  <p>{{item.mes}}</p>
                </ion-item>
                <ion-item>
                    <p><i style="font-style:normal">期望薪资:</i><i id="money">3000-5000</i></p>
                    <p><i style="font-style:normal">期望职位:</i><i id="position">助理</i></p>
                </ion-item>
          </ion-item>
      </ion-list>

      <ion-list *ngSwitchCase="'class7'">
          <ion-list-header>{{items[6]}}</ion-list-header>       
          <ion-item *ngFor="let item of class7" class="spe" (click)="seeker(item)">
              <ion-item>
                  <ion-avatar item-start>
                    <img src="{{item.img}}">
                  </ion-avatar>
                  <h2>{{item.name}}</h2>
                  <h3><i class="iconfont">&#xe624;</i>{{item.schooling}} 
                    <i class="iconfont">&#xe522;</i>{{item.age}}
                    <i class="iconfont">&#xe62b;</i>{{item.sex}}
                  </h3>
                  <p>{{item.mes}}</p>
                </ion-item>
                <ion-item>
                    <p><i style="font-style:normal">期望薪资:</i><i id="money">3000-5000</i></p>
                    <p><i style="font-style:normal">期望职位:</i><i id="position">助理</i></p>
                </ion-item>
          </ion-item>
      </ion-list>

      <ion-list *ngSwitchCase="'class8'">
          <ion-list-header>{{items[7]}}</ion-list-header>       
          <ion-item *ngFor="let item of class8" class="spe" (click)="seeker(item)">
              <ion-item>
                  <ion-avatar item-start>
                    <img src="{{item.img}}">
                  </ion-avatar>
                  <h2>{{item.name}}</h2>
                  <h3><i class="iconfont">&#xe624;</i>{{item.schooling}} 
                    <i class="iconfont">&#xe522;</i>{{item.age}}
                    <i class="iconfont">&#xe62b;</i>{{item.sex}}
                  </h3>
                  <p>{{item.mes}}</p>
                </ion-item>
                <ion-item>
                    <p><i style="font-style:normal">期望薪资:</i><i id="money">3000-5000</i></p>
                    <p><i style="font-style:normal">期望职位:</i><i id="position">助理</i></p>
                </ion-item>
          </ion-item>
      </ion-list>
    </div>
    

  <!-- <div>
    <ion-grid id="grid" >
      <ion-row>
        <ion-col class="col" col-3 *ngFor="let item of class" (click)="more(item)">
          <img src="{{item.img}}">{{item.name}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  

  <ion-list>
      <ion-list-header>
        礼仪模特
      </ion-list-header>  
      <ion-item *ngFor="let item of class1">
        <ion-avatar item-start>
          <img src="{{item.img}}">
        </ion-avatar>
        <h2>{{item.name}}</h2>
        <h3>{{item.schooling}} {{item.age}}</h3>
        <p>{{item.mes}}</p>
      </ion-item>
      <ion-list-header>
          老师家教
        </ion-list-header>  
        <ion-item *ngFor="let item of class2">
          <ion-avatar item-start>
            <img src="{{item.img}}">
          </ion-avatar>
          <h2>{{item.name}}</h2>
          <h3>{{item.schooling}} {{item.age}}</h3>
          <p>{{item.mes}}</p>
        </ion-item>
  </ion-list> -->

  <!-- 上拉加载 -->
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
