page-rechome {
    #body{
        background-color: #f2f2f2;
    }
    #grid{
        margin-left:4px;
    }
    #slides{
        height:30%;
    }
    .slide img{
        margin-left:0;
        margin-top:0px;
    }
    .col{
        width:25%;
        height:110px;
        border:2px solid #e6e6e6;
        margin-left:-2px;
        margin-top:-2px;
        text-align: center
    }
    #class img{
         width:85%;
        //margin-left:10%;
        border-radius: 50%;
    }
    .spe{
        margin-top:8px;
    }
    .iconfont{
        color:#1990ef;
        margin-left:5px;
    }
    #money{
        font-style: normal;
        color:rgb(243, 97, 97);
        margin-left:10px;
        font-size: 18px;
    }
    #position{
        font-style: normal;
        margin-left:10px;
        font-size:18px;
    }
    .segment-ios .segment-button{
        line-height: 1rem;
        color: black;
    }
    .segment-button{
        width:25%;
        white-space: normal;
    }
}
