page-seekmymes {
    #body{
        background-color: #f2f2f2;
    }
    // .list{
    //     margin-top:5px;
    // }
    #top{
        height:30%;
        width: 100%;
        background-color:#0f72c4;
        text-align: center
    }
    #top img{
        border-radius:50%;
        width:100px;
        height:100px;
        margin-top:4%
    }
    .list-ios{
        margin:0;
    }
    .title{
        color: #1990ef;
    }
    .iconfont{
        color:#0f72c4;
    }
    .intro{
        display:inline;
        margin-left:10px
    }
}
