page-choose {
    #content{
        background: url('../../assets/imgs/bg.png');
    }

    img{
        margin-left: 38%;
        margin-top: 25%;
    }

    .button{
        width: 100%;
        margin: 12% 0;
    }
}
