<!--
  Generated template for the RecnearPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar  color="primary">
    <ion-title text-center>附近</ion-title>
  </ion-navbar>

</ion-header>


<ion-content id="body">

    <div id="top">
      <ion-segment [(ngModel)]="near">
        <ion-segment-button value="fast">
          最快到达
        </ion-segment-button>
        <ion-segment-button value="high">
          信誉度高
        </ion-segment-button>
      </ion-segment>
    </div>
      
    <div [ngSwitch]="near">
      <ion-list *ngSwitchCase="'fast'" class="classify" >
          <ion-item *ngFor="let item of fastitem"  class="seeker" (click)="seeker(item)">
              <ion-item>
                  <ion-avatar item-start>
                    <img src="{{item.img}}">
                  </ion-avatar>
                  <h2>{{item.name}}</h2>
                  <h3><i class="iconfont">&#xe624;</i>{{item.schooling}} 
                    <i class="iconfont">&#xe522;</i>{{item.age}}
                    <i class="iconfont">&#xe62b;</i>{{item.sex}}
                  </h3>
                  <p>{{item.mes}}</p>
                </ion-item>
                <ion-item>
                    <p><i style="font-style:normal">期望薪资:</i><i id="money">3000-5000</i></p>
                    <p><i style="font-style:normal">期望职位:</i><i id="position">助理</i></p>
                </ion-item>
          </ion-item>
      </ion-list>
    
      <ion-list *ngSwitchCase="'high'" class="classify">
          <ion-item *ngFor="let item of highitem"  class="seeker" (click)="seeker(item)">
              <ion-item>
                  <ion-avatar item-start>
                    <img src="{{item.img}}">
                  </ion-avatar>
                  <h2>{{item.name}}</h2>
                  <h3><i class="iconfont">&#xe624;</i>{{item.schooling}} 
                    <i class="iconfont">&#xe522;</i>{{item.age}}
                    <i class="iconfont">&#xe62b;</i>{{item.sex}}
                  </h3>
                  <p>{{item.mes}}</p>
                </ion-item>
                <ion-item>
                    <p><i style="font-style:normal">期望薪资:</i><i id="money">3000-5000</i></p>
                    <p><i style="font-style:normal">期望职位:</i><i id="position">助理</i></p>
                </ion-item>
          </ion-item>
      </ion-list>
    </div>
</ion-content>
