page-recnear {
    #body{
        background-color: #f2f2f2;
    }
    .seeker{
        margin-top:8px;
    }
    .spe{
        margin-top:8px;
    }
    .iconfont{
        color:#1990ef;
        margin-left:5px;
    }
    #money{
        font-style: normal;
        color:rgb(243, 97, 97);
        margin-left:10px;
        font-size: 18px;
    }
    #position{
        font-style: normal;
        margin-left:10px;
        font-size:18px;
    }
    .sal{
        margin-left:10px;
    }
    .classify h4{
        font-size:15px;
    }
    /*列表最后一项样式*/
    .list-ios > .item-block:last-child .item-inner{
        border-bottom: 0.55px solid #c8c7cc;
    }
}
