<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">  
    <link rel="shortcut icon" href="/images/logo.ico" type="image/x-icon" />
    <title><%= title %></title>    
    
   
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" />   
    <link rel="stylesheet" type="text/css" href="/stylesheets/navbar-static-top.css" /> 
  </head>
  <body>
      <% include ./comp/header %> 
      <div class="container-fluid">
          <div class="row maintxtrow">
              <div class="navleft col-sm-2 col-md-2 col-xm-2">
                  <div class="row">
                      <% include ./comp/nav %>                       
                  </div>    
              </div>
          
              <div class="maintxt col-md-10">
                <div class="row" >
                    <% if (locals.page == 'home') { %>
                      <%include ./admin/home %>
                    <% } %>
                   
                    <% if (locals.page == 'users') { %>
                      <%include ./admin/users %>
                    <% } %>

                    <% if (locals.page == 'master') { %>
                      <%include ./admin/master %>
                    <% } %>

                    <% if (locals.page == 'file') { %>
                      <%include ./admin/file %>
                    <% } %>

                    <% if (locals.page == 'label') { %>
                      <%include ./admin/label %>
                    <% } %>

                    <% if (locals.page == 'recommend') { %>
                      <%include ./admin/recommend %>
                    <% } %>

                    <% if (locals.page == 'msg') { %>
                      <%include ./admin/msg %>
                    <% } %>

                    <% if (locals.page == 'edit') { %>
                      <% include ./admin/edit %>
                    <% } %>

                    <% if (locals.page == 'addmaster') { %>
                      <% include ./admin/addmaster %>
                    <% } %>

                    <% if (locals.page == 'detail') { %>
                      <% include ./admin/detail %>
                    <% } %>

                    <% if (locals.page == 'addarticle') { %>
                      <% include ./admin/addarticle %>
                    <% } %>

                    <% if (locals.page == 'updatearticle') { %>
                      <% include ./admin/updatearticle %>
                    <% } %>

                    <% if (locals.page == 'search') { %>
                      <% include ./admin/search %>
                    <% } %>

                    <% if (locals.page == 'searchdata') { %>
                      <% include ./admin/searchdata %>
                    <% } %>


                  
                </div>
              </div>
      
            </div>     
      </div>     
  </body>
  <script src="/javascripts/jquery.js"></script>    
  <script src="/javascripts/bootstrap.min.js"></script> 
  <script type="text/javascript" src="/javascripts/page.js"></script>
</html>
