<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title><%= title %></title>    
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js" type="text/javascript"></script>     
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" />   
    <link rel="stylesheet" type="text/css" href="/stylesheets/navbar-static-top.css" /> 
    <link rel="stylesheet" href="/javascripts/bootstrap.min.js">  
    <link rel="shortcut icon" href="/images/logo.ico" type="image/x-icon" />
    
  </head>
  <body>
      <% include ./comp/header %> 
      <div class="container-fluid all">
          <div class="row">
              <div class="navleft col-md-2">
                  <div class="row">
                      <% include ./comp/nav %>                       
                  </div>    
                </div>
          
              <div class="maintxt col-md-10">
                <div class="row" >
                    <% if (locals.page == 'home') { %>
                      <%include ./admin/home %>
                    <% } %>
                   
                    <% if (locals.page == 'adduser') { %>
                      <%include ./user/adduser %>
                    <% } %>

                    <% if (locals.page == 'master') { %>
                      <%include ./admin/master %>
                    <% } %>

                    <% if (locals.page == 'file') { %>
                      <%include ./admin/file %>
                    <% } %>

                    <% if (locals.page == 'label') { %>
                      <%include ./admin/label %>
                    <% } %>

                    <% if (locals.page == 'recommend') { %>
                      <%include ./admin/recommend %>
                    <% } %>

                    <% if (locals.page == 'msg') { %>
                      <%include ./admin/msg %>
                    <% } %>

                  
                </div>
              </div>
      
            </div>     
      </div>      
  </body>
</html>
