page-recmyallpub {
    #body{
        background-color: #f2f2f2;
    }
    #reg{
        text-align: center;
        color: white;
        font-size: 18px;
        background-color: #1990ef;
        height:6%;
        width:100%;
        position: fixed;
    }
    #reg p{
        margin-top:2%;
    }
    #back{
        float: left;
        margin-left:5%;
        margin-top:2%;
    }
    #more{
        margin-top:10%;
    }
    .pos{
        display: inline;
    }
    .money{
        display: inline;
        float: right;
        color: red;
    }
    p i{
        font-style: normal;
        margin-right: 10px;
    }
    .time{
        float: right;
    }
    .name{
        font-style: normal;
    }
    .delete{
        //color: red;
    }
    ion-item{
        height:100px;
    }
}
