page-recmyallpub {
    #body{
        background-color: #f2f2f2;
    }
    #reg{
        text-align: center;
        color: white;
        font-size: 18px;
        background-color: #1990ef;
        height:6%;
        width:100%;
        position: fixed;
    }
    #reg p{
        margin-top:2%;
    }
    #back{
        float: left;
        margin-left:5%;
        margin-top:2%;
    }
    #more{
        margin-top:10%;
    }
    .single{
        margin-top:5px;
    }
    .iconfont{
        color:#1990ef;
        margin-left:5px;
    }
    #money{
        font-style: normal;
        color:rgb(243, 97, 97);
        margin-left:10px;
        font-size: 18px;
    }
    #position{
        font-style: normal;
        margin-left:10px;
        font-size:18px;
    }
    /*列表最后一项样式*/
    .list-ios > .item-block:last-child .item-inner{
        border-bottom: 0.55px solid #c8c7cc;
    }
    #del{
        width:20%;
    }
}
