// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@font-face {
    font-family: 'iconfont';
    src: url('../assets/fonts/iconfont.eot');
    src: url('../assets/fonts/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/iconfont.woff') format('woff'),
    url('../assets/fonts/iconfont.ttf') format('truetype'),
    url('../assets/fonts/iconfont.svg#iconfont') format('svg');
  }
   
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
  }
  .ion-md-add-circle:before {
    content: "\f272";
    font-size: 50px;
  }
  .ion-ios-pw:before{
    content:"\e619";
  }
  .ion-ios-user:before{
    content:"\e522";
  }
  .ion-ios-sex:before{
    content:"\e62b";
  }
  .ion-ios-local:before{
    content:"\e511";
  }
  .ion-ios-edu:before{
    content:"\e624";
  }
  .ion-ios-money:before{
    content:"\e624";
  }
  .ion-ios-email:before{
    content:"\e68b";
  }
  .ion-ios-job:before{
    content:"\e767";
  }
  .ion-ios-time:before{
    content:"\e64a";
  }
  .ion-ios-store:before{
    content:"\e655";
  }
  .ion-ios-edit:before{
    content:"\e6ec";
  }