page-recuserque {
    #body{
        background-color: #f2f2f2;
    }
    .radio{
        margin-right:5px;
    }
    #area{
        width:100%;
        border:none;
    }
    #text{
        width:100%;
        border:none;
    }
    #but1{
        width:80%;
        margin-left: 10%;
        background-color: #1990ef;
        margin-top:50px;
    }
    #mes{
        color: red;
    }
}
