<!--
  Generated template for the SeekhomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
     <ion-searchbar placeholder="搜索"id="search" (ionInput)="getItems($event)"></ion-searchbar>
     <ion-list>
        <ion-item *ngFor="let item of items">
          {{ item }}
        </ion-item>
      </ion-list>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
        <ion-segment [(ngModel)]="icons" color='dark'>                         
                <ion-segment-button value="1">
                        <i class="iconfont">&#xe62d;</i>
                         <h4>客服</h4>                                            
                </ion-segment-button> 
                <ion-segment-button value="2" >
                        <i class="iconfont">&#xe626;</i>
                        <h4>餐饮</h4> 
                </ion-segment-button>    
                <ion-segment-button value="3" >
                        <i class="iconfont">&#xe625;</i>
                        <h4>计算机</h4> 
                </ion-segment-button>     
                <ion-segment-button value="4" >
                        <i class="iconfont">&#xe629;</i>
                        <h4>财务</h4> 
                </ion-segment-button>  
             </ion-segment> 
         </ion-row>
         <ion-row>
                <ion-segment [(ngModel)]="icons" color='dark'>                         
                        <ion-segment-button value="5">
                                <i class="iconfont">&#xe628;</i>
                                 <h4>金融</h4>                                            
                        </ion-segment-button> 
                        <ion-segment-button value="6" >
                                <i class="iconfont">&#xe62a;</i>
                                <h4>医疗</h4> 
                        </ion-segment-button>    
                        <ion-segment-button value="7" >
                                <i class="iconfont">&#xe62c;</i>
                                <h4>家教</h4> 
                        </ion-segment-button>     
                        <ion-segment-button value="8" >
                                <i class="iconfont">&#xe62b;</i>
                                <h4>其他</h4> 
                        </ion-segment-button>  
                     </ion-segment>  
                 </ion-row>
        </ion-grid>
        <div [ngSwitch]="icons"> 
          <ion-grid *ngSwitchCase="'1'">
              <h1>聘职信息：</h1>
                <ion-list *ngFor='let item of list;let i = index;'>
                        <ion-item (click)="goto(item)" style="margin-top:6%;">           
                          <ion-avatar item-start>
                              <img src="{{item.icon}}">
                          </ion-avatar>
                          <h2 style="font-weight:bolder">{{item.title}}<span style="float:right;color:red;font-size:80%;">{{item.price}}</span></h2>
                          <p>{{item.msg}}</p>
                          <p>{{item.locate}}</p>          
                      </ion-item>
                      </ion-list>      
          </ion-grid>
      </div>
      <div [ngSwitch]="icons"> 
            <ion-grid *ngSwitchCase="'2'">
                <h1>聘职信息：</h1>
                  <ion-list *ngFor='let item of list1;let i = index;'>
                          <ion-item (click)="goto(item)" style="margin-top:6%;">           
                            <ion-avatar item-start>
                                <img src="{{item.icon}}">
                            </ion-avatar>
                            <h2 style="font-weight:bolder">{{item.title}}<span style="float:right;color:red;font-size:80%;">{{item.price}}</span></h2>
                            <p>{{item.msg}}</p>
                            <p>{{item.locate}}</p>          
                        </ion-item>
                        </ion-list>      
            </ion-grid>
        </div>
        <div [ngSwitch]="icons"> 
                <ion-grid *ngSwitchCase="'3'">
                    <h1>聘职信息：</h1>
                      <ion-list *ngFor='let item of list2;let i = index;'>
                              <ion-item (click)="goto(item)" style="margin-top:6%;">           
                                <ion-avatar item-start>
                                    <img src="{{item.icon}}">
                                </ion-avatar>
                                <h2 style="font-weight:bolder">{{item.title}}<span style="float:right;color:red;font-size:80%;">{{item.price}}</span></h2>
                                <p>{{item.msg}}</p>
                                <p>{{item.locate}}</p>          
                            </ion-item>
                            </ion-list>      
                </ion-grid>
            </div>
            <div [ngSwitch]="icons"> 
                    <ion-grid *ngSwitchCase="'4'">
                        <h1>聘职信息：</h1>
                          <ion-list *ngFor='let item of list3;let i = index;'>
                                  <ion-item (click)="goto(item)" style="margin-top:6%;">           
                                    <ion-avatar item-start>
                                        <img src="{{item.icon}}">
                                    </ion-avatar>
                                    <h2 style="font-weight:bolder">{{item.title}}<span style="float:right;color:red;font-size:80%;">{{item.price}}</span></h2>
                                    <p>{{item.msg}}</p>
                                    <p>{{item.locate}}</p>          
                                </ion-item>
                                </ion-list>      
                    </ion-grid>
                </div>
                <div [ngSwitch]="icons"> 
                        <ion-grid *ngSwitchCase="'5'">
                            <h1>聘职信息：</h1>
                              <ion-list *ngFor='let item of list4;let i = index;'>
                                      <ion-item (click)="goto(item)" style="margin-top:6%;">           
                                        <ion-avatar item-start>
                                            <img src="{{item.icon}}">
                                        </ion-avatar>
                                        <h2 style="font-weight:bolder">{{item.title}}<span style="float:right;color:red;font-size:80%;">{{item.price}}</span></h2>
                                        <p>{{item.msg}}</p>
                                        <p>{{item.locate}}</p>          
                                    </ion-item>
                                    </ion-list>      
                        </ion-grid>
                    </div>
                    <div [ngSwitch]="icons"> 
                            <ion-grid *ngSwitchCase="'6'">
                                <h1>聘职信息：</h1>
                                  <ion-list *ngFor='let item of list5;let i = index;'>
                                          <ion-item (click)="goto(item)" style="margin-top:6%;">           
                                            <ion-avatar item-start>
                                                <img src="{{item.icon}}">
                                            </ion-avatar>
                                            <h2 style="font-weight:bolder">{{item.title}}<span style="float:right;color:red;font-size:80%;">{{item.price}}</span></h2>
                                            <p>{{item.msg}}</p>
                                            <p>{{item.locate}}</p>          
                                        </ion-item>
                                        </ion-list>      
                            </ion-grid>
                        </div>
                        <div [ngSwitch]="icons"> 
                                <ion-grid *ngSwitchCase="'7'">
                                    <h1>聘职信息：</h1>
                                      <ion-list *ngFor='let item of list6;let i = index;'>
                                              <ion-item (click)="goto(item)" style="margin-top:6%;">           
                                                <ion-avatar item-start>
                                                    <img src="{{item.icon}}">
                                                </ion-avatar>
                                                <h2 style="font-weight:bolder">{{item.title}}<span style="float:right;color:red;font-size:80%;">{{item.price}}</span></h2>
                                                <p>{{item.msg}}</p>
                                                <p>{{item.locate}}</p>          
                                            </ion-item>
                                            </ion-list>      
                                </ion-grid>
                            </div>
                            <div [ngSwitch]="icons"> 
                                    <ion-grid *ngSwitchCase="'8'">
                                        <h1>聘职信息：</h1>
                                          <ion-list *ngFor='let item of list7;let i = index;'>
                                                  <ion-item (click)="goto(item)" style="margin-top:6%;">           
                                                    <ion-avatar item-start>
                                                        <img src="{{item.icon}}">
                                                    </ion-avatar>
                                                    <h2 style="font-weight:bolder">{{item.title}}<span style="float:right;color:red;font-size:80%;">{{item.price}}</span></h2>
                                                    <p>{{item.msg}}</p>
                                                    <p>{{item.locate}}</p>          
                                                </ion-item>
                                                </ion-list>      
                                    </ion-grid>
                                </div>
                          
        

















</ion-content>



































 <!-- <ion-grid class="grid">
        <ion-segment [(ngModel)]="icons" color='dark'> 
        <ion-row>       
          <ion-col>             
                <ion-segment-button value="info" (click)="go()">
                        找信息
                </ion-segment-button> 
          </ion-col>
          <ion-col>
              <button class="btn">
                  <i class="iconfont">&#xe62d;</i><br/><br/>
                客服</button>
          </ion-col>
          <ion-col>
              <button class="btn">
                  <i class="iconfont">&#xe626;</i><br/><br/>
                餐饮</button>
          </ion-col>
          <ion-col>
              <button class="btn">
                  <i class="iconfont">&#xe625;</i><br/><br/>
                计算机</button>
          </ion-col>
          </ion-row>
          <ion-row>
          <ion-col>
              <button class="btn">
                  <i class="iconfont">&#xe629;</i><br/><br/>
                财务</button>
          </ion-col>
          <ion-col>
              <button class="btn">
                  <i class="iconfont">&#xe628;</i><br/><br/>
                金融</button>
          </ion-col>
          <ion-col>
              <button class="btn">
                  <i class="iconfont">&#xe62a;</i><br/><br/>
                医疗</button>
          </ion-col>
          <ion-col>
              <button class="btn">
                  <i class="iconfont">&#xe62b;</i><br/><br/>
                其他</button>
          </ion-col>
          </ion-row>
        </ion-segment>
      </ion-grid>
    
      <div [ngSwitch]="icons"> 
      <ion-list *ngFor='let item of list;let i = index;' *ngSwitchCase="'info'">
          <ion-item (click)="goto(item)" style="margin-top:6%;">           
            <ion-avatar item-start>
                <img src="{{item.icon}}">
            </ion-avatar>
            <h2 style="font-weight:bolder">{{item.title}}<span style="float:right;color:red;font-size:80%;">{{item.price}}</span></h2>
            <p>{{item.msg}}</p>
            <p>{{item.locate}}</p>          
        </ion-item>
        </ion-list>      
        <div> -->








 
