<<<<<<< HEAD:foreend/src/pages/seekmy/seekmy.scss
page-seekmy {
=======
page-me {
>>>>>>> 69e041914da789ac4758bdd9fa0061c3b93bcc01:foreend/src/pages/Me/Me.scss
    .item-md ion-avatar ion-img, .item-md ion-avatar img {
        border-radius: 50%;
        overflow: hidden;
        width: 80px;
        height: 80px;
    }
    .item-md p {
        margin: 15px 0 0 2px;
        overflow: inherit;
        font-size: 1.5rem;
        line-height: normal;
        text-overflow: inherit;
        color: #343434;
        font-weight: bold;
    }
    .item-md h2 {
        margin: 5px 0;
        font-size: 2rem;
        font-weight: bold;
    }
    .label-md {
       margin: 0 0 0 0;
    }
}
