<nav class="navbar navbar-fixed-top navbar-static-top nav-inverse" role="navigation" style="position:fixed;z-index: 1000;width: 100%">
	  <div class="navbar-header">
	    <a class="navbar-brand" href="/admin/login"><img src="/images/logo.ico"/>&nbsp;&nbsp;&nbsp;&nbsp;后台管理系统</a>
	  </div>
	
    <ul class="nav navbar-right">
        <% if (locals.username) { %> 
          <li class="li"><a href="#">Admin:<%= username %></a></li>
          <li class="li"><a href="/admin/login">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;退出登陆</a></li> 
        <% } %>           
    </ul>
</nav> 
