<!--
  Generated template for the RecmypubPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title text-center>发布职位信息</ion-title>
  </ion-navbar>

</ion-header>


<ion-content id="body">
    <!-- <div>
        <ion-segment [(ngModel)]="position">
          <ion-segment-button value="publish">
            发布一般职位
          </ion-segment-button>
          <ion-segment-button value="manage">
            发布可抢职位
          </ion-segment-button>
          
        </ion-segment>
    </div> -->
    
    <div [ngSwitch]="position">
        <ion-list *ngSwitchCase="'publish'">
            <ion-list-header id="title"><h2>基本信息</h2></ion-list-header>
            <ion-item>
                <label>职位名称:</label>
                <input type="text" [(ngModel)]="job">
                <p class="error">{{job0}}</p>
            </ion-item>
            <ion-item>
              <label>所属类别:</label>
              <select style="width:110px;margin-left:5px;height:25px" [(ngModel)]='sort'> 
                <option *ngFor="let item of items" value="{{item}}">{{item}}</option>    
              </select>
              <p class="error" style="display:inline">{{sort0}}</p>  
            </ion-item>  
            <ion-item>
                <label>所属公司:</label>
                <input type="text" [(ngModel)]="name">
                <p class="error">{{name0}}</p>
            </ion-item>
            <ion-item>
                <label>招聘人数:</label>
                <input type="text" [(ngModel)]="num">
                <p class="error">{{num0}}</p>
            </ion-item>
            <ion-item>
                <label>提供月薪:</label>
                <input type="text" [(ngModel)]="money">
                <p class="error">{{money0}}</p>
            </ion-item>
            <ion-item>
                <label>年　　龄:</label>
                <input type="text" [(ngModel)]="age">
                <p class="error">{{age0}}</p>
            </ion-item>
            <ion-item>
                <label>学　　历:</label>
                <select style="width:110px;margin-left:5px;height:25px" [(ngModel)]='school'> 
                  <option *ngFor="let item of sch" value="{{item}}">{{item}}</option>    
                </select> 
                <p class="error" style="display:inline">{{school0}}</p> 
              </ion-item>  
            <ion-item>
                <label>联系方式:</label>
                <input type="text" [(ngModel)]="tel">
                <p class="error">{{tel0}}</p>
            </ion-item>
            <ion-item>职位要求：<p class="error" style="display:inline">{{detail0}}</p></ion-item>
            <ion-item>
                <textarea rows="10" id="area"  [(ngModel)]="detail"></textarea>
            </ion-item>
            <ion-item>公司介绍：<p class="error" style="display:inline">{{intro0}}</p></ion-item>
            <ion-item>
                <textarea rows="10" id="area"  [(ngModel)]="intro"></textarea>
            </ion-item>
            <button ion-button color="none" class="but" (click)="submit1()">确认发布</button>
        </ion-list>

        <!-- <ion-list *ngSwitchCase="'manage'">
                <ion-list-header id="title">
                    <h2 style="display:inline">可抢职位信息</h2>
                    <p class="error" style="display:inline;font-size:1.5em">{{err}}</p>
                </ion-list-header>
                <ion-item>
                    <label>职位名称:</label>
                    <input type="text" [(ngModel)]="job1">
                </ion-item>
                <ion-item>
                  <label>所属类别:</label>
                  <select style="width:110px;margin-left:5px;height:25px" [(ngModel)]='sort1'> 
                    <option *ngFor="let item of items" value="{{item}}">{{item}}</option>    
                  </select> 
                </ion-item>  
                <ion-item>
                    <label>所属公司:</label>
                    <input type="text" [(ngModel)]="name1">
                </ion-item>
                <ion-item>
                    <label>招聘人数:</label>
                    <input type="text" [(ngModel)]="num1">
                </ion-item>
                <ion-item>
                    <label>提供月薪:</label>
                    <input type="text" [(ngModel)]="money1">
                </ion-item>
                <ion-item>
                    <label>年　　龄:</label>
                    <input type="text" [(ngModel)]="age1">
                </ion-item>
                <ion-item>
                    <label>学　　历:</label>
                    <select style="width:110px;margin-left:5px;height:25px" [(ngModel)]='school1'> 
                      <option *ngFor="let item of sch" value="{{item}}">{{item}}</option>    
                    </select>  
                  </ion-item>  
                <ion-item>
                    <label>联系方式:</label>
                    <input type="text" [(ngModel)]="tel1">
                </ion-item>
                <ion-item>职位要求：</ion-item>
                <ion-item>
                    <textarea rows="10" id="area"  [(ngModel)]="detail1"></textarea>
                </ion-item>
                <ion-item>公司介绍：</ion-item>
                <ion-item>
                    <textarea rows="10" id="area"  [(ngModel)]="intro1"></textarea>
                </ion-item>
                <button ion-button color="none" class="but" (click)="submit2()">确认发布</button>
        </ion-list>         -->
    </div>
</ion-content>
