page-recmypub {
    #body{
        background-color: #f2f2f2;
    }
    #title{
        color:#1990ef;
    }
    .item{
        background-color:#f2f2f2;
    }
    input{
        margin-left:5px; 
        border:1px solid #aaa;
    }
    .error{
        color:red;
        text-align: center;
        font-size: 1em;
    }
    #area{
        width:100%;
        border:1px solid #aaa;
    }
    .but{
        width:80%;
        margin-left: 10%;
        background-color: #1990ef;
        margin-top:50px;
    }
}
