page-animation {
    img{
        margin-left: 0px;
    }

    #button{
        margin: 0px;
        position: absolute!important;
        left: 12%!important;
        top: 83%!important;
        width: 80%!important;
    }
}
