page-SkHome {
    .btn{
        width: 100%;
        height: auto;
        background-color: white;
        font-size: 110%;
        padding: 20%;
        // border-bottom:2px solid lightblue;
    }
    .grid{
        margin-top: 6%;
        border: none;
    }
    .iconfont{
        font-size:36px;
    }
    .item-md ion-avatar ion-img, .item-md ion-avatar img {
        border-radius: 50%;
        overflow: hidden;
        width: 65px;
        height: 65px;
    }
}
