page-recmyseeker {
    #body{
        background-color: #f2f2f2;
    }
    //求职者列表
    .spe{
        margin-top:8px;
    }
    .iconfont{
        color:#1990ef;
        margin-left:5px;
        margin-right: 2px;
    }
    p{
        display: inline;
    }
    i{
        font-style: normal;
    }
    #money{
        font-style: normal;
        margin-left:10px;
        font-size: 18px;
        color: red;
    }
    #position{
        font-style: normal;
        margin-left:10px;
        font-size:18px;
        color: #1990ef;
    }
    /*列表最后一项样式*/
    .list-ios > .item-block:last-child .item-inner{
        border-bottom: 0.55px solid #c8c7cc;
    }
    //去掉列表项下划线
    // .list-ios > .item-block .item-inner{
    //     border: none;
    // }
    .list-ios > .item-block:last-child .item-inner{
        border: none;
    }
    #but{
        float: right;
        width:100px;
        height:30px;
        display: inline;
    }
}
